<%- include("../partials/head.ejs") %>
<div class="container mt-5">
  <h2>Form Alat Tangkap</h2>
  <form action="/alat_tangkap/store" method="POST">
    <div class="mb-3">
      <label for="nama_pemilik" class="form-label">Nama Alat Tangkap</label>
      <input type="text" class="form-control" id="nama_alat_tangkap" name="nama_alat_tangkap" required />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-sm btn-success">Simpan</button>
    </div>
  </form>
</div>
<%- include("../partials/foot.ejs") %>
