<%- include("../partials/head.ejs") %>
<div class="container mt-5">
  <h2>Form dpi</h2>
  <form action="/dpi/store" method="POST">
    <div class="mb-3">
      <label for="nama_pemilik" class="form-label">Nama dpi</label>
      <input type="text" class="form-control" id="nama_dpi" name="nama_dpi" required />
    </div>
    <div class="mb-3">
      <label for="luas" class="form-label">Luas</label>
      <input type="number" class="form-control" id="luas" name="luas" required />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-sm btn-success">Simpan</button>
    </div>
  </form>
</div>
<%- include("../partials/foot.ejs") %>
